<h2>Modification de l'assignment</h2>

<form ngForm #formAssignment class="form" (submit)="onSubmit($event); formAssignment.reset();">
  <mat-form-field>
    <input matInput placeholder="Nom du devoir" required [(ngModel)]="nom" name="nom">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choisissez une date</mat-label>
    <input matInput [matDatepicker]="picker" required [(ngModel)]="dateDeRendu" name="date">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Note de l'étudiante" [(ngModel)]="note" type="number" name="note">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Remarque" [(ngModel)]="remarque" name="remarque">
  </mat-form-field>
  <input type="hidden" name="prof" value="{{prof}}"/>
  <button mat-stroked-button color="primary">
    Modifier le devoir
  </button>
</form>